$accent-color: #00acdc;
$card-width: 200px;
$fs: 12px;

@mixin smallFont {
  font-size: 11px;
  line-height: 13px;
}

html {
  font-family: Roboto, sans-serif;
  font-size: 12px;
}

.main {
  &__container {
    display: grid;
    grid-template-columns: repeat(4, $card-width);
    gap: 50px 48px;
    margin-top: 50px;
    justify-content: center;
  }
}

@media (max-width: ($card-width + 48px) * 4) {
  .main__container {
    grid-template-columns: repeat(auto-fit, $card-width);
  }
}

@import "reset";
@import "header";
@import "card";
@import "stars";
@import "nav";
