$accent-color: #00acdc;
$border-color: #f3f3f3;
$card-width: 200px;
$card-gap: 48px;
$card-num: 4;
$fs: 12px;
$transition-time: 0.5s;

@mixin smallFont {
  font-size: 11px;
  line-height: 13px;
}

html {
  font-family: Roboto, sans-serif;
  font-size: 12px;
}

.main {
  &__container {
    display: grid;
    grid-template-columns: repeat(4, $card-width);
    gap: 50px 48px;
    margin-top: 50px;
    justify-content: center;

    @media (max-width: ($card-width + $card-gap) * $card-num) {
      grid-template-columns: repeat(auto-fit, $card-width);
    }
  }
}

@import "reset";
@import "header";
@import "card";
@import "stars";
@import "nav";
